doctype html
html
  head
    title= title
    block head-links
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        block content
    include footer
    block body-links
