body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.glyphicon-xl {
  margin-bottom: 20px;
  font-size: 5em;
  color: #9CA3A9;
}

#upload-input {
  display: none;
}
